.form-select{
    width: 400px;
}   
.form{
    display: flex;
}
.ok{
    font-size: 24px;
    border-radius: 8px;
    width: 100px;
    margin-left: 150px;
    background-color: darkslateblue;
    color: aliceblue;
}
.text{
    font-size: 36px;
}